body {
    padding: 10px;
}

th {
    background-color: palegreen
}

.izd {
    text-align: right
}

.container {
    background-color: darkseagreen
}

select,
input:hover {
    background-color: palegreen
}

select,
input:active {
    background-color: darkseagreen
}

tr {
    line-height: 10px;
}

td .trborrar {
    text-align: right;
}

.produc {
    line-height: 20px;
}

.rojo {
    background-color: maroon;
    color: white;
    padding: 5px;
    border: black 0px solid;
    font-weight: 600;

}

.verde {
    background-color: seagreen;
    color: white;
    font-weight: 600;
}

#alta {
    position: fixed;
    background-color: white;
    top: 25%;
    left: 50%;
    padding: 20px;
    border: black 4px solid;
    display: none
}